h1 {
  display: grid;
  place-items: center;
  color: white;
  letter-spacing: 0.4rem;
}

.callback {
  // background-image: url("../");
  // background-image: url("../../public/images/backgroundPortfolio.jpeg");
  //   background-repeat: no-repeat;
  background-size: cover;
}
