.base-page {
  padding: 15rem 0 10rem 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;
  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
