// HEADER
.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;
  padding: 4rem;

  .port-navbar {
    &-brand {
      // color: white;
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-weight: bold;
    }

    &-item {
      a {
        color: white;
        font-weight: bold;
      }
      margin-left: 1rem;
      margin-right: 1rem;
      // &:hover,
      // &:focus {
      //   color: #dba919;
      // }
    }

    &-link {
      // color: white;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 1.8rem;
      text-transform: uppercase;

      // &:hover,
      &:focus {
        color: #dba919;
      }
    }
  }
}

//----------------------LOGIN-LOGOUT
.nav-link {
  .btn {
    right: 2rem !important;
    position: absolute;
  }
}
.port-navbar-item.active.nav-item {
  .nav-link {
    color: $orange;
  }
}
.port-navbar.port-nav-base.port-nav-default {
  padding: 30px;
  background-color: $secondary !important;
}
// li.active {
//   color: blue !important;
// }
a.nav-link {
  color: purple;
}
a:hover {
  color: orange !important;
}
// a:focus {
//   color: orange !important;
// }

//--------------------------TOGGLE MENU----
//bg.transparent because we want this for only home page
.bg-transparent.menu-open {
  background-color: $secondary !important;
}

.bg-transparent.menu-close {
  transition: 1s;
}

.port-navbar-item.btn {
  margin-right: 2rem !important;
}
